<!DOCTYPE html>
<html>

<head>

<title>Student Smart Utility</title>

<style>

body{
    background:#111827;
    color:white;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    text-align:center;
}

h1{
    color:#10B981;
    margin-bottom:40px;
}

button{
    padding:15px 25px;
    margin:10px;
    border:none;
    border-radius:10px;
    background:#10B981;
    color:white;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#059669;
}

a{
    text-decoration:none;
}

</style>

</head>

<body>

<div class="container">

<h1>📘 Student Smart Utility App</h1>

<a href="/evenodd">
<button>Even / Odd</button>
</a>

<a href="/largest">
<button>Largest Number</button>
</a>

<a href="/wordcount">
<button>Word Counter</button>
</a>

<a href="/temp">
<button>Temperature Converter</button>
</a>

</div>

</body>

</html>